html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

.main-content {
  position: relative;
  height: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/home-banner.jpg');;
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation-bar {
  position: relative;
  padding: 20px 0;
  margin: 0px;
  background: linear-gradient(to right, #3b3d3c 0%, #5086c6 100%);
  width: 100%;
}

.container{
  
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.hamburgericon{
  float: right;
  margin: 20px 20px 0 0;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
}

.navigation-menu {
    padding: 0;
    margin: 0;  
    text-align: center;
    float: right;
  }

.navigation-menu.active{
  display: block;
  transition: all 5s ease-in-out;
}
.navigation-bar li {
    list-style-type: none;
    padding: 15px;
    display: block;  
    border-bottom: 2px solid #5086c6;
    opacity: 0.7; 
  }
.navigation-bar li:last-child {
    border-bottom: none;  
}
.navigation-bar a {
    color: #5086c6;
    font-size: 14px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 5px 15px;
  }
.navigation-bar a:hover{
  color: #000;
  opacity:unset;
}
  
form {
    float: right;
    padding: 40px;
}
  

  /* Full-width inputs */
.username{
    width: 100%;
    padding: 12px 20px 12px 45px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: transparent;
    border-radius: 5px;
    background: url(../img/icons/message.svg) no-repeat scroll 12px 10px;
    background-size: 20px;
}
.inline{  
  display: flex;
  flex-flow: row wrap;
  margin: 8px 0;
}
.input-password{
    width: 85%;
    padding: 12px 0 12px 45px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: transparent;
    background: url(../img/icons/lock.svg) no-repeat scroll 12px 10px;
    background-size: 20px;
    border-radius: 5px 0px 0px 5px;
    border-right: none;
}
.eyelash{
  display: inline-block;
  width: 14%;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  background: url(../img/icons/view.svg) no-repeat;
  background-size: cover;
  cursor: pointer;
}
  /* Set a style for all buttons */

button {
    background-color: #5086c6;
    color: #fff;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }
  
  /* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
  }
input:focus{
  outline: 0;
}
  /* Add padding to containers */

.formcontainer {
    text-align: center;
    max-width: 300px;
    padding: 20px;
    border-top: 10px solid #5086c6;
    background-color: #ffffff;
    height: auto;
  }
.formcontainer p, a {
    margin: 0px;
    font-size: 14px;
    color: rgb(58, 58, 58);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
.formfotter button{
  width: 70%;
  background-color: #fff;
  color: #3b3d3c;
  border: 1px solid #ccc;
}
.formfotter p{
  margin: 1px 10px;
  display: inline-block;
  width: 123px;
  border-bottom: 1px solid #ccc;
  color: #ccc;
}
.gmail{
  background: url(../img/icons/google.svg) no-repeat scroll 16px 10px;
  background-size: 20px;
}

.mem{
  background: url(../img/icons/mem.png) no-repeat scroll 16px 10px;
  background-size: 20px;
  
}

.leftsidecontent{
  padding:100px;
  color: #fff;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pcontent{
  display: inline-block;
}
.pcontent p{  
  padding: 0 40px;
  background: url(../img/icons/checked-white.svg) no-repeat scroll 0px 3px;
  background-size: 16px;
}
/*User Page*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-y: scroll;
  transition: 0.5s;
  padding-top: 20px;
  color: #fff;
}
.userinfo{
  display: inline-block;
}
.menu{
  margin: 0;
  padding: 0;
}
.menu-item .menu-icon img{
  width: 16px;
  margin-right: 5px
}
.menu-item a {
  position: relative;
  padding: 8px 8px 8px 32px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  color: #fff;
}
.menu-item a.active{
  background-color: #5285c7;
}
.menu-item a.active:after{
  content: '';
  position: absolute;
  left: initial;
  right: -16px;
  top: -5px;
  bottom: initial;
  height: 100%;
  width: 20px;
  background-color: #fff;
  transform: rotate(48deg);
}
.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 10px;
  cursor: pointer;
  background-color: #5086c6;
  color: white;
  border: none;
  /*background: url(../img/icons/view.svg) no-repeat;*/
  /*background-size: cover;*/
}
.main {
  position: relative;
  transition: margin-left .5s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn-cntrl{
  display: inline-block;
  width: 98.7%;
  padding: 10px;
  background-color: #5086c6;
}
.btn-cntrl a{
  padding: 3px 50px 0 0;
  float: right;
  color: #fff;
}
.closebtn-icon{
  display: block;
}
#main-padding{
  padding: 5px 16px 16px 16px;
}
.mainuppercontent{
  display: flex;
}
.mainuppercontent span{
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.mainuppercontent input{
  padding: 8px 20px;
  border: none;
  background-color: #3cb446;
  color: #fff;
  border-radius: 5px;
}

.mainuppercontent p{
  width: 90%;
  font-size: 25px; padding: 10px;
  margin: 0; 
  border-bottom: 1px solid #ccc;
}
#select{
  margin: 10px;
  width: 10%;
  padding: 5px;
  border: 1px solid #dddddd;
  background-color: transparent;
}
#search{
  width: 25%;
  padding: 5px;
  border: 1px solid #dddddd;
  background-color: transparent;


}
table {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: left;
  padding: 8px;
}
.user-icon img{
  cursor: unset;

}
td img{
  cursor: pointer;
}
th{
  padding: 8px;
  text-align: left;
  color:#dddddd;
  background-color: #5286c2;
}
.usericon{
  background: url(../img/icons/user-default.svg) no-repeat;
}
tr:nth-child(odd) {
  background-color: #efefef;
}
@media(max-width: 576px) {
  .container {

  }
}
@media(min-width: 576px) {
    .container {
      width: 540px;
    }
}
@media(min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 992px) {
  .navigation-menu{
    position: absolute;
    left: 0;
    right: 0;
    bottom: initial;
    top:100%;
    background-color: #fff;
    padding: 0px;
    margin: 0px;  
    text-align: center;
    float: right;
    display: none;
    transition: all 5s ease-in-out;

  }

}
@media(min-width: 992px) {
  .container {
    width: 960px;
  }
  .navigation-menu{
    padding:15px;
  }

  .navigation-menu li{
    display: inline-block;
    border: none;
    padding: 0;
  }
  .navigation-menu a{
    
    color:#fff;
  }

  .hamburgericon{
    display: none;
  }

}
@media(min-width: 1200px) {
  .container {
    width: 1140px;
    
  }
  .navigation-menu{
    display: inline-block;
  }
  .hamburgericon{
    display: none;
  }
}@media(min-width: 1400px) {
  .container {
    width: 1320px;
  }
}